@import "tailwindcss";

@theme {
  --color-primary: #0e294c;
  --color-card: #fbf9f7;
  --color-card-border: #f3ede7;
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }
}
