@import "tailwindcss";

@theme {
  --color-primary: #0e294c;
  --color-card: #252526;
  --color-card-border: #3c3c3c;
}

@layer base {
  body {
    @apply bg-[#1e1e1e] text-[#d4d4d4] antialiased;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  h1 {
    @apply text-2xl font-bold leading-tight;
  }

  h2 {
    @apply text-xl font-bold leading-tight;
  }
}
